# =============== #
# Unity generated #
# =============== #
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild
**/[Ll]ibrary/
**/sysinfo.txt
**/[Ll]ogs/
**/.[Gg]radle


# =========== #
# Build File #
# =========== #
**/*.apk
**/*.unitypackage

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
**/*.userprefs
**/[Ee]xported[Oo]bj/
**/*.csproj
**/*.unityproj
**/*.sln
**/*.suo
**/*.tmp
**/*.user
**/*.pidb
**/*.booproj
**/*.svd
**/VSCode
**/VSCode.meta

# ========================================== #
# Other stuff to be excluded from repository #
# ========================================== #
**/Assets/StreamingAssets/AssetBundles*
**/Assets/StreamingAssets/Bundles*
**/AssetBundles
**/Builds
**/Thumbs.db
**/Thumbs.db.meta
**/StreamingAssets/build_info.txt

*.blend[0-9]

# ================= #
# Text editor files #
# ================= #
**/*~
**/.vscode/
.idea/
**JetBrains.Rider*

# =========== #
# MacOS files #
# =========== #
.DS_Store

# ============= #
# Game Specific #
# ============= #
Keys
SupportScripts/text.txt
StreamingAssets.meta
StreamingAssets/Bundles.meta
EntityCache*

Tests/
Tests.meta
**/Backup*